.raleway- {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.blue{
  color: #4E47FF;
}
.text-primary{
  color: #252432;
}
.text-secondary{
  color:rgba(37, 36, 50, 0.5);
}
.btn-primary{
  background-color: #4E47FF;
  color: white;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F5F8FF;
}
/* header */
header{
  background-image: url(images/Hero-bg.png);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 0px 150px 158px 150px;
}
nav h1{
  font-size: 34px;
  font-weight: 800;
}
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  padding-bottom: 152px;
}
.hero h1{
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

/* main */
main{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 130px;
}

/* action */
.action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 116px;
}
/* prob: gapping*/
.action-left{
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.left h1{
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}
.left p{
  font-size: 24px;
}
.action img{
  border-radius: 48px;
}

/* users */
.users{
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 134px;
  border-radius: 24px;
  margin-bottom: 142px;
  text-align: center;
  margin-bottom: 137px;
}
.users h2{
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}
.users-count{
  display: flex;
  gap: 158px;
}
.counts{
  display: flex;
  flex-direction: column;
}
.counts h1{
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
}
.counts p{
  color: rgba(37, 36, 50, 0.5)
}

/* review */
.review{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 137px;
  align-items: center;
  justify-content: space-around;
}
.review h2{
  font-size: 42px;
  font-weight: bold;
}
.cards{
  display: flex;
  gap: 20px;
}
.card{
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #F2EDED;
  border-radius: 14px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card h4{
  color:#252432;
  font-size: 24px;
}
.reviwer{
  display: flex;
  gap: 12px;
  align-items: center;
}
.reviwer img{
  border-radius: 50%;
}
.reviwer strong{
  color: #757575;
}
.reviwer p{
  color: #B3B3B3;
}